salishan-characters {
	section {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	article {
		width: 100%;
		border: 1px solid var(--border-color);
		border-radius: 10px;
		padding: 1rem;
		background-color: #253b40;
		transition: background-color ease-in-out 200ms;

		&:hover {
			background-color: #253b4096;
		}

		.label {
			font-size: 3rem;
			text-align: center;
		}

		.description {
			text-transform: uppercase;
		}

		nn-fila {
			justify-content: center;
			align-items: center;
		}
	}
}

@media (max-width: 768px) {
	salishan-characters {
		text-align: center;
	}
}
