nn-icono {
  font-family: "icomoon" !important;
  
  &.arrow-angle { --nn-icono: "\2304"; }
  &.arrow-angle-double { --nn-icono: "\21e3"; }
  &.arrow-chevron { --nn-icono: "\2357"; }
  &.arrow-short { --nn-icono: "\2b07"; }
  &.arrow-long { --nn-icono: "\ffec"; }
  &.arrow-caret { --nn-icono: "\1f53b"; }
  &.arrow-level { --nn-icono: "\21b4"; }
  &.hand-pointer-o { --nn-icono: "\1f446"; }
  &.hand-o { --nn-icono: "\1f447"; }
  &.thumbs-o { --nn-icono: "\a002"; }
  &.thumbs { --nn-icono: "\1f44e"; }
  &.compress { --nn-icono: "\a003"; }
  &.expand { --nn-icono: "\a004"; }
  &.ellipsis { --nn-icono: "\22ee"; }
  &.arrows-2-sides { --nn-icono: "\2195"; }
  &.sort { --nn-icono: "\2b0d"; }
  &.arrows-4-sides { --nn-icono: "\a005"; }
  &.refresh { --nn-icono: "\1f504"; }
  &.rotate-left { --nn-icono: "\27f2"; }
  &.mail-reply { --nn-icono: "\21b6"; }
  &.mail-reply-all { --nn-icono: "\a006"; }
  &.check { --nn-icono: "\2714"; }
  &.times { --nn-icono: "\2715"; }
  &.plus { --nn-icono: "\2b"; }
  &.minus { --nn-icono: "\2d"; }
  &.external-link { --nn-icono: "\a010"; }
  &.glass { --nn-icono: "\1f378"; }
  &.music { --nn-icono: "\266b"; }
  &.search { --nn-icono: "\1f50d"; }
  &.envelope-o { --nn-icono: "\270"; }
  &.heart { --nn-icono: "\2764"; }
  &.star { --nn-icono: "\2b50"; }
  &.star-o { --nn-icono: "\1f31f"; }
  &.user { --nn-icono: "\1f464"; }
  &.film { --nn-icono: "\1f39e"; }
  &.th-large { --nn-icono: "\a011"; }
  &.th { --nn-icono: "\a012"; }
  &.th-list { --nn-icono: "\a013"; }
  &.power-off { --nn-icono: "\1f4f4"; }
  &.signal { --nn-icono: "\1f4f6"; }
  &.cog { --nn-icono: "\2699"; }
  &.trash-o { --nn-icono: "\1f5d1"; }
  &.home { --nn-icono: "\1f3e0"; }
  &.file-o { --nn-icono: "\1f4c4"; }
  &.clock-o { --nn-icono: "\23f0"; }
  &.road { --nn-icono: "\1f6e3"; }
  &.download { --nn-icono: "\1f4e5"; }
  &.inbox { --nn-icono: "\1f4e3"; }
  &.list-alt { --nn-icono: "\a019"; }
  &.lock { --nn-icono: "\1f512"; }
  &.flag { --nn-icono: "\1f3f3"; }
  &.headphones { --nn-icono: "\1f3a7"; }
  &.volume-off { --nn-icono: "\1f508"; }
  &.volume-down { --nn-icono: "\1f509"; }
  &.volume-up { --nn-icono: "\1f50a"; }
  &.qrcode { --nn-icono: "\a021"; }
  &.barcode { --nn-icono: "\a022"; }
  &.tag { --nn-icono: "\1f3f7"; }
  &.tags { --nn-icono: "\a024"; }
  &.book { --nn-icono: "\1f4d5"; }
  &.bookmark { --nn-icono: "\1f516"; }
  &.print { --nn-icono: "\1f5a8"; }
  &.camera { --nn-icono: "\1f4f7"; }
  &.font { --nn-icono: "\41"; }
  &.bold { --nn-icono: "\42"; }
  &.italic { --nn-icono: "\1d43c"; }
  &.text-height { --nn-icono: "\a025"; }
  &.text-width { --nn-icono: "\a026"; }
  &.align-left { --nn-icono: "\a027"; }
  &.align-center { --nn-icono: "\a028"; }
  &.align-right { --nn-icono: "\a029"; }
  &.align-justify { --nn-icono: "\a030"; }
  &.list { --nn-icono: "\a031"; }
  &.dedent { --nn-icono: "\a032"; }
  &.indent { --nn-icono: "\a033"; }
  &.video-camera { --nn-icono: "\1f3a5"; }
  &.image { --nn-icono: "\1f5bc"; }
  &.pencil { --nn-icono: "\270f"; }
  &.map-marker { --nn-icono: "\1f4c3"; }
  &.adjust { --nn-icono: "\a034"; }
  &.tint { --nn-icono: "\1fa78"; }
  &.edit { --nn-icono: "\1f4dd"; }
  &.share-square-o { --nn-icono: "\a035"; }
  &.play { --nn-icono: "\25b6"; }
  &.pause { --nn-icono: "\23f8"; }
  &.stop { --nn-icono: "\23f9"; }
  &.forward { --nn-icono: "\23e9"; }
  &.fast-forward { --nn-icono: "\23ed"; }
  &.step-forward { --nn-icono: "\a037"; }
  &.eject { --nn-icono: "\23cf"; }
  &.crosshairs { --nn-icono: "\2629"; }
  &.ban { --nn-icono: "\1f6ab"; }
  &.asterisk { --nn-icono: "\2a"; }
  &.gift { --nn-icono: "\1f381"; }
  &.leaf { --nn-icono: "\1f343"; }
  &.fire { --nn-icono: "\1f525"; }
  &.eye { --nn-icono: "\1f441"; }
  &.eye-slash { --nn-icono: "\1f648"; }
  &.exclamation-triangle { --nn-icono: "\26a0"; }
  &.plane { --nn-icono: "\2708"; }
  &.calendar { --nn-icono: "\1f5d3"; }
  &.random { --nn-icono: "\1f500"; }
  &.comment { --nn-icono: "\1f4ac"; }
  &.magnet { --nn-icono: "\1f9f2"; }
  &.retweet { --nn-icono: "\a038"; }
  &.shopping-cart { --nn-icono: "\1f6d2"; }
  &.folder { --nn-icono: "\1f4c1"; }
  &.folder-open { --nn-icono: "\1f4c2"; }
  &.bar-chart { --nn-icono: "\1f4ca"; }
  &.camera-retro { --nn-icono: "\a041"; }
  &.key { --nn-icono: "\1f511"; }
  &.cogs { --nn-icono: "\a042"; }
  &.comments { --nn-icono: "\a043"; }
  &.heart-o { --nn-icono: "\a045"; }
  &.sign-out { --nn-icono: "\a046"; }
  &.thumb-tack { --nn-icono: "\1f4cc"; }
  &.sign-in { --nn-icono: "\a048"; }
  &.trophy { --nn-icono: "\1f3c6"; }
  &.lemon-o { --nn-icono: "\1f34b"; }
  &.phone { --nn-icono: "\1f4de"; }
  &.square-o { --nn-icono: "\a050"; }
  &.bookmark-o { --nn-icono: "\a051"; }
  &.twitter { --nn-icono: "\1f413"; }
  &.facebook { --nn-icono: "\a053"; }
  &.github { --nn-icono: "\1f431"; }
  &.unlock { --nn-icono: "\a054"; }
  &.credit-card { --nn-icono: "\1f4b3"; }
  &.feed { --nn-icono: "\a055"; }
  &.hdd-o { --nn-icono: "\a056"; }
  &.bullhorn { --nn-icono: "\1f4e2"; }
  &.bell-o { --nn-icono: "\a057"; }
  &.certificate { --nn-icono: "\a058"; }
  &.wrench { --nn-icono: "\1f527"; }
  &.tasks { --nn-icono: "\a059"; }
  &.filter { --nn-icono: "\a060"; }
  &.briefcase { --nn-icono: "\1f4bc"; }
  &.group { --nn-icono: "\1f465"; }
  &.chain { --nn-icono: "\1f517"; }
  &.cloud { --nn-icono: "\2601"; }
  &.flask { --nn-icono: "\1f52c"; }
  &.cut { --nn-icono: "\2702"; }
  &.copy { --nn-icono: "\a062"; }
  &.paperclip { --nn-icono: "\1f4ce"; }
  &.floppy-o { --nn-icono: "\1f4be"; }
  &.square { --nn-icono: "\f0c8"; }
  &.bars { --nn-icono: "\2630"; }
  &.list-ul { --nn-icono: "\a063"; }
  &.list-ol { --nn-icono: "\a064"; }
  &.strikethrough { --nn-icono: "\a065"; }
  &.underline { --nn-icono: "\a066"; }
  &.table { --nn-icono: "\a067"; }
  &.magic { --nn-icono: "\1fa84"; }
  &.truck { --nn-icono: "\1f69a"; }
  &.pinterest { --nn-icono: "\a068"; }
  &.money { --nn-icono: "\1f4b8"; }
  &.columns { --nn-icono: "\a072"; }
  &.envelope { --nn-icono: "\2709"; }
  &.linkedin { --nn-icono: "\a074"; }
  &.gavel { --nn-icono: "\1f528"; }
  &.dashboard { --nn-icono: "\a075"; }
  &.comment-o { --nn-icono: "\a076"; }
  &.comments-o { --nn-icono: "\a077"; }
  &.bolt { --nn-icono: "\26a1"; }
  &.sitemap { --nn-icono: "\a078"; }
  &.umbrella { --nn-icono: "\2602"; }
  &.clipboard { --nn-icono: "\1f4cb"; }
  &.lightbulb-o { --nn-icono: "\1f4a1"; }
  &.exchange { --nn-icono: "\21c4"; }
  &.user-md { --nn-icono: "\1f468"; }
  &.stethoscope { --nn-icono: "\1fa7a"; }
  &.suitcase { --nn-icono: "\a084"; }
  &.bell { --nn-icono: "\1f514"; }
  &.coffee { --nn-icono: "\2615"; }
  &.cutlery { --nn-icono: "\1f374"; }
  &.file-text-o { --nn-icono: "\a085"; }
  &.building-o { --nn-icono: "\1f3e9"; }
  &.hospital-o { --nn-icono: "\1f3e5"; }
  &.ambulance { --nn-icono: "\1f691"; }
  &.medkit { --nn-icono: "\1f48a"; }
  &.fighter-jet { --nn-icono: "\a086"; }
  &.beer { --nn-icono: "\1f37a"; }
  &.desktop { --nn-icono: "\1f5a5"; }
  &.laptop { --nn-icono: "\1f4bb"; }
  &.tablet { --nn-icono: "\a088"; }
  &.mobile { --nn-icono: "\1f4f1"; }
  &.circle-o { --nn-icono: "\fc0"; }
  &.quote-left { --nn-icono: "\a089"; }
  &.quote-right { --nn-icono: "\a090"; }
  &.spinner { --nn-icono: "\a091"; }
  &.circle { --nn-icono: "\25cb"; }
  &.github-alt { --nn-icono: "\1f408"; }
  &.folder-o { --nn-icono: "\a093"; }
  &.folder-open-o { --nn-icono: "\a094"; }
  &.smile-o { --nn-icono: "\1f642"; }
  &.frown-o { --nn-icono: "\1f641"; }
  &.meh-o { --nn-icono: "\1f610"; }
  &.gamepad { --nn-icono: "\1f579"; }
  &.keyboard-o { --nn-icono: "\2328"; }
  &.flag-o { --nn-icono: "\a095"; }
  &.flag-checkered { --nn-icono: "\1f3c1"; }
  &.terminal { --nn-icono: "\a096"; }
  &.code { --nn-icono: "\a097"; }
  &.star-half-empty { --nn-icono: "\a098"; }
  &.location-arrow { --nn-icono: "\a099"; }
  &.crop { --nn-icono: "\a100"; }
  &.code-fork { --nn-icono: "\a101"; }
  &.chain-broken { --nn-icono: "\a102"; }
  &.question { --nn-icono: "\3f"; }
  &.info { --nn-icono: "\2139"; }
  &.exclamation { --nn-icono: "\2757"; }
  &.superscript { --nn-icono: "\b2"; }
  &.subscript { --nn-icono: "\2082"; }
  &.eraser { --nn-icono: "\a107"; }
  &.puzzle-piece { --nn-icono: "\1f9e9"; }
  &.microphone { --nn-icono: "\1f3a4"; }
  &.microphone-slash { --nn-icono: "\a109"; }
  &.shield { --nn-icono: "\1f6e1"; }
  &.calendar-o { --nn-icono: "\1f4c6"; }
  &.fire-extinguisher { --nn-icono: "\1f9ef"; }
  &.rocket { --nn-icono: "\1f680"; }
  &.html5 { --nn-icono: "\35"; }
  &.css3 { --nn-icono: "\33"; }
  &.anchor { --nn-icono: "\2693"; }
  &.unlock-alt { --nn-icono: "\1f513"; }
  &.bullseye { --nn-icono: "\25ce"; }
  &.ticket { --nn-icono: "\1f3ab"; }
  &.compass { --nn-icono: "\1f9ed"; }
  &.eur { --nn-icono: "\20ac"; }
  &.gbp { --nn-icono: "\a3"; }
  &.dollar { --nn-icono: "\24"; }
  &.inr { --nn-icono: "\20b9"; }
  &.cny { --nn-icono: "\a5"; }
  &.rouble { --nn-icono: "\20bd"; }
  &.krw { --nn-icono: "\20a9"; }
  &.bitcoin { --nn-icono: "\20bf"; }
  &.file { --nn-icono: "\a124"; }
  &.file-text { --nn-icono: "\a125"; }
  &.sort-alpha-asc { --nn-icono: "\a126"; }
  &.sort-alpha-desc { --nn-icono: "\a127"; }
  &.sort-amount-asc { --nn-icono: "\a128"; }
  &.sort-amount-desc { --nn-icono: "\a129"; }
  &.sort-numeric-asc { --nn-icono: "\a130"; }
  &.sort-numeric-desc { --nn-icono: "\a131"; }
  &.youtube-play { --nn-icono: "\a133"; }
  &.dropbox { --nn-icono: "\a134"; }
  &.stack-overflow { --nn-icono: "\a135"; }
  &.instagram { --nn-icono: "\a136"; }
  &.flickr { --nn-icono: "\a137"; }
  &.bitbucket { --nn-icono: "\a139"; }
  &.tumblr { --nn-icono: "\a140"; }
  &.apple { --nn-icono: "\1f34e"; }
  &.windows { --nn-icono: "\1fa9f"; }
  &.android { --nn-icono: "\1f916"; }
  &.linux { --nn-icono: "\1f427"; }
  &.dribbble { --nn-icono: "\a142"; }
  &.skype { --nn-icono: "\a143"; }
  &.foursquare { --nn-icono: "\a144"; }
  &.trello { --nn-icono: "\a145"; }
  &.female { --nn-icono: "\1f6ba"; }
  &.male { --nn-icono: "\1f6b9"; }
  &.sun-o { --nn-icono: "\1f31e"; }
  &.moon-o { --nn-icono: "\1f31d"; }
  &.archive { --nn-icono: "\1f5c3"; }
  &.bug { --nn-icono: "\1fab2"; }
  &.vk { --nn-icono: "\f189"; }
  &.dot-circle-o { --nn-icono: "\2609"; }
  &.wheelchair { --nn-icono: "\267f"; }
  &.try { --nn-icono: "\20ba"; }
  &.space-shuttle { --nn-icono: "\1f47e"; }
  &.slack { --nn-icono: "\f198"; }
  &.bank { --nn-icono: "\1f3e6"; }
  &.graduation-cap { --nn-icono: "\1f393"; }
  &.google { --nn-icono: "\f1a0"; }
  &.reddit { --nn-icono: "\f1a1"; }
  &.language { --nn-icono: "\f1ab"; }
  &.fax { --nn-icono: "\1f4e0"; }
  &.building { --nn-icono: "\1f3e2"; }
  &.child { --nn-icono: "\1f9d2"; }
  &.paw { --nn-icono: "\1f43e"; }
  &.spoon { --nn-icono: "\1f944"; }
  &.cube { --nn-icono: "\1f4e6"; }
  &.cubes { --nn-icono: "\f1b3"; }
  &.behance { --nn-icono: "\f1b4"; }
  &.steam { --nn-icono: "\f1b6"; }
  &.recycle { --nn-icono: "\267b"; }
  &.automobile { --nn-icono: "\1f698"; }
  &.cab { --nn-icono: "\1f696"; }
  &.tree { --nn-icono: "\1f332"; }
  &.spotify { --nn-icono: "\f1bc"; }
  &.deviantart { --nn-icono: "\f1bd"; }
  &.soundcloud { --nn-icono: "\f1be"; }
  &.database { --nn-icono: "\f1c0"; }
  &.vine { --nn-icono: "\f1ca"; }
  &.codepen { --nn-icono: "\f1cb"; }
  &.jsfiddle { --nn-icono: "\f1cc"; }
  &.life-bouy { --nn-icono: "\1f6df"; }
  &.circle-o-notch { --nn-icono: "\f1ce"; }
  &.wechat { --nn-icono: "\f1d7"; }
  &.paper-plane { --nn-icono: "\f1d8"; }
  &.history { --nn-icono: "\f1da"; }
  &.circle-thin { --nn-icono: "\f1db"; }
  &.header { --nn-icono: "\f1dc"; }
  &.paragraph { --nn-icono: "\f1dd"; }
  &.sliders { --nn-icono: "\f1de"; }
  &.share-alt { --nn-icono: "\f1e0"; }
  &.bomb { --nn-icono: "\f1e2"; }
  &.futbol-o { --nn-icono: "\f1e3"; }
  &.tty { --nn-icono: "\f1e4"; }
  &.binoculars { --nn-icono: "\1f52d"; }
  &.plug { --nn-icono: "\1f50c"; }
  &.slideshare { --nn-icono: "\f1e7"; }
  &.twitch { --nn-icono: "\f1e8"; }
  &.yelp { --nn-icono: "\f1e9"; }
  &.newspaper-o { --nn-icono: "\f1ea"; }
  &.wifi { --nn-icono: "\f1eb"; }
  &.calculator { --nn-icono: "\f1ec"; }
  &.paypal { --nn-icono: "\f1ed"; }
  &.google-wallet { --nn-icono: "\f1ee"; }
  &.bell-slash { --nn-icono: "\1f515"; }
  &.bell-slash-o { --nn-icono: "\f1f7"; }
  &.trash { --nn-icono: "\f1f8"; }
  &.copyright { --nn-icono: "\a9"; }
  &.at { --nn-icono: "\40"; }
  &.eyedropper { --nn-icono: "\f1fb"; }
  &.paint-brush { --nn-icono: "\1f58c"; }
  &.birthday-cake { --nn-icono: "\1f382"; }
  &.area-chart { --nn-icono: "\1f4c9"; }
  &.pie-chart { --nn-icono: "\1f967"; }
  &.line-chart { --nn-icono: "\1f4c8"; }
  &.lastfm { --nn-icono: "\f202"; }
  &.toggle-off { --nn-icono: "\f204"; }
  &.toggle-on { --nn-icono: "\f205"; }
  &.bicycle { --nn-icono: "\1f6b2"; }
  &.bus { --nn-icono: "\1f68d"; }
  &.angellist { --nn-icono: "\f209"; }
  &.cc { --nn-icono: "\f20a"; }
  &.diamond { --nn-icono: "\1f48e"; }
  &.ship { --nn-icono: "\26f5"; }
  &.user-secret { --nn-icono: "\1f575"; }
  &.motorcycle { --nn-icono: "\1f3cd"; }
  &.street-view { --nn-icono: "\f21d"; }
  &.heartbeat { --nn-icono: "\f21e"; }
  &.venus { --nn-icono: "\2640"; }
  &.mars { --nn-icono: "\2642"; }
  &.mercury { --nn-icono: "\263f"; }
  &.intersex { --nn-icono: "\26a5"; }
  &.transgender-alt { --nn-icono: "\26a7"; }
  &.venus-double { --nn-icono: "\26a2"; }
  &.mars-double { --nn-icono: "\26a3"; }
  &.venus-mars { --nn-icono: "\26a4"; }
  &.mars-stroke { --nn-icono: "\26a6"; }
  &.neuter { --nn-icono: "\26b2"; }
  &.genderless { --nn-icono: "\26ac"; }
  &.pinterest-p { --nn-icono: "\f231"; }
  &.whatsapp { --nn-icono: "\f232"; }
  &.server { --nn-icono: "\f233"; }
  &.bed { --nn-icono: "\1f6cf"; }
  &.train { --nn-icono: "\1f683"; }
  &.subway { --nn-icono: "\1f686"; }
  &.medium { --nn-icono: "\f23a"; }
  &.battery { --nn-icono: "\1f50b"; }
  &.battery-3 { --nn-icono: "\1faac"; }
  &.battery-2 { --nn-icono: "\f242"; }
  &.battery-1 { --nn-icono: "\1faab"; }
  &.battery-0 { --nn-icono: "\f244"; }
  &.mouse-pointer { --nn-icono: "\25e3"; }
  &.i-cursor { --nn-icono: "\f246"; }
  &.object-group { --nn-icono: "\f247"; }
  &.object-ungroup { --nn-icono: "\f248"; }
  &.sticky-note { --nn-icono: "\f249"; }
  &.sticky-note-o { --nn-icono: "\f24a"; }
  &.clone { --nn-icono: "\f24d"; }
  &.balance-scale { --nn-icono: "\2696"; }
  &.hourglass-2 { --nn-icono: "\23f3"; }
  &.hourglass-3 { --nn-icono: "\231b"; }
  &.hourglass { --nn-icono: "\23f"; }
  &.trademark { --nn-icono: "\2122"; }
  &.registered { --nn-icono: "\ae"; }
  &.creative-commons { --nn-icono: "\33c4"; }
  &.wikipedia-w { --nn-icono: "\57"; }
  &.safari { --nn-icono: "\f267"; }
  &.chrome { --nn-icono: "\f268"; }
  &.firefox { --nn-icono: "\f269"; }
  &.opera { --nn-icono: "\f26a"; }
  &.internet-explorer { --nn-icono: "\f26b"; }
  &.television { --nn-icono: "\1f4fa"; }
  &.amazon { --nn-icono: "\f270"; }
  &.map-pin { --nn-icono: "\1f4cd"; }
  &.map-signs { --nn-icono: "\1faa7"; }
  &.map-o { --nn-icono: "\f278"; }
  &.map { --nn-icono: "\1f5fa"; }
  &.vimeo { --nn-icono: "\f27d"; }
  &.fonticons { --nn-icono: "\f280"; }
  &.reddit-alien { --nn-icono: "\f281"; }
  &.edge { --nn-icono: "\f282"; }
  &.credit-card-alt { --nn-icono: "\f283"; }
  &.fort-awesome { --nn-icono: "\f286"; }
  &.usb { --nn-icono: "\f287"; }
  &.product-hunt { --nn-icono: "\f288"; }
  &.mixcloud { --nn-icono: "\f289"; }
  &.shopping-bag { --nn-icono: "\1f6cd"; }
  &.shopping-basket { --nn-icono: "\1f9fa"; }
  &.hashtag { --nn-icono: "\23"; }
  &.bluetooth { --nn-icono: "\f293"; }
  &.bluetooth-b { --nn-icono: "\f294"; }
  &.percent { --nn-icono: "\25"; }
  &.gitlab { --nn-icono: "\f296"; }
  &.universal-access { --nn-icono: "\f29a"; }
  &.wheelchair-alt { --nn-icono: "\1f9bc"; }
  &.blind { --nn-icono: "\1f9af"; }
  &.audio-description { --nn-icono: "\f29e"; }
  &.volume-control-phone { --nn-icono: "\f2a0"; }
  &.braille { --nn-icono: "\280b"; }
  &.assistive-listening-systems { --nn-icono: "\1f9bb"; }
  &.american-sign-language-interpreting { --nn-icono: "\f2a3"; }
  &.deaf { --nn-icono: "\1f9cf"; }
  &.glide-g { --nn-icono: "\f2a6"; }
  &.sign-language { --nn-icono: "\f2a7"; }
  &.low-vision { --nn-icono: "\f2a8"; }
  &.snapchat-ghost { --nn-icono: "\f2ac"; }
  &.first-order { --nn-icono: "\f2b0"; }
  &.fa { --nn-icono: "\f2b4"; }
  &.handshake-o { --nn-icono: "\1f91d"; }
  &.envelope-open { --nn-icono: "\f2b6"; }
  &.envelope-open-o { --nn-icono: "\f2b7"; }
  &.address-book { --nn-icono: "\1f4d2"; }
  &.address-book-o { --nn-icono: "\f2ba"; }
  &.address-card { --nn-icono: "\f2bb"; }
  &.address-card-o { --nn-icono: "\f2bc"; }
  &.user-o { --nn-icono: "\f2c0"; }
  &.id-badge { --nn-icono: "\f2c1"; }
  &.drivers-license { --nn-icono: "\f2c2"; }
  &.drivers-license-o { --nn-icono: "\f2c3"; }
  &.free-code-camp { --nn-icono: "\f2c5"; }
  &.telegram { --nn-icono: "\f2c6"; }
  &.thermometer { --nn-icono: "\1f321"; }
  &.shower { --nn-icono: "\1f6bf"; }
  &.bath { --nn-icono: "\1f6c0"; }
  &.podcast { --nn-icono: "\f2ce"; }
  &.window-maximize { --nn-icono: "\f2d0"; }
  &.window-minimize { --nn-icono: "\f2d1"; }
  &.window-restore { --nn-icono: "\f2d2"; }
  &.microchip { --nn-icono: "\f2db"; }
  &.snowflake-o { --nn-icono: "\2744"; }
  &.globe { --nn-icono: "\1f30e"; }
  &.spirit { --nn-icono: "\1f984"; }
  &.aguacatekun { --nn-icono: "\ff013"; }
  &.avocado { --nn-icono: "\1f951"; }
  &.nano { --nn-icono: "\4e"; }
}