@import url('https://cdn.jsdelivr.net/gh/nano-grid/nano-grid@v5.3.1/dist/nanogrid_styles.css');

@import url('./variables.css');
@import url('./navbar.css');
@import url('./footer.css');

@import url('./iconos.css');
@import url('../fonts/Quicksand/Quicksand.css');
@import url('../fonts/Icomoon/Icomoon.css');

* {
	box-sizing: border-box;
	font-family: 'Quicksand', Helvetica, Arial, sans-serif;
	font-weight: 700;
}

html,
body {
	padding: 0;
	margin: 0;
	color: var(--foreground-color);
	background-color: var(--background-color);
}

body {
	overflow-x: hidden;

	&.light {
		color-scheme: light;
	}

	&.dark {
		color-scheme: dark;
	}
}

.hidden {
	display: none;
}

.sr-only {
	display: none;
}

p,
h2,
h3,
h1 {
	margin: 0;
}

img {
	max-width: 100%;
}

nn-btn a,
nav a {
	text-decoration: none;
}

a {
	text-decoration: underline dotted #ecf6ff;

	&.disabled {
		&,
		&.btn {
			color: #333 !important;
			pointer-events: none;
		}

		&.btn {
			--color: #555;
		}
	}
}

h1 {
	font-size: 3.25rem;
	text-align: center;
	margin: 0;
	color: var(--accent-color);
}

h2 {
	font-size: 3rem;
	text-align: center;
	margin: 0;
	color: var(--accent-color);
}

h3 {
	font-size: 1.5rem;
	text-align: center;
	margin: 0;
	color: var(--accent-color);
}

main {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

nn-pill {
	--nn-pill-text-color: #fff;
	font-size: 12px;
}

nn-dropdown {
	--nn-dropdown-btn-color: var(--header-color);
	--nn-dropdown-btn-bgcolor: var(--background-color);

	.dropdown-trigger {
		background-color: transparent;
	}

	.dropdown-content {
		--nn-dropdown-bgcolor: light-dark(#fcfcfc, #252740);
		box-shadow: 0px 0px 4px #5757572e;
	}
}

.flex-column {
	--gap: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: var(--gap);
	padding: 1rem;
	list-style: none;
}

.flex-row {
	--gap: 0.5rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: var(--gap);
	padding: 0;
	list-style: none;
	justify-content: center;
	align-items: center;
}

.search-bar {
	--nn-input-color: light-dark(#eee, #3d3d60);
	--nn-input-text-color: light-dark(#333, #eee);

	nn-btn {
		button,
		a {
			--nn-btn-color: var(--nn-input-color);
			--nn-btn-text-color: var(--nn-input-text-color);
		}
	}

	input {
		all: unset;
		border: 0;
		width: max(100%, 35px);
		min-height: 35px;
		font-size: 9pt;
		text-align: center;
		cursor: text;
		letter-spacing: 1pt;
		text-transform: uppercase;
		transition: background-color 0.2s ease,
			box-shadow 0.2s ease, border 0.2s ease,
			color 0.2s ease;
		border-radius: 0;
		--nn-input-color-active: color-mix(
			in srgb,
			black 15%,
			var(--nn-input-color)
		);
		--nn-input-color-active-shadow: color-mix(
			in srgb,
			black 30%,
			var(--nn-input-color)
		);
		color: var(--nn-input-text-color);
		background-color: var(--nn-input-color);
		box-shadow: 0 3px 0 var(--nn-input-color-active);
	}
}

salishan-game {
	.game {
		display: flex;
		flex-direction: row;
		align-items: stretch;
		justify-content: center;
		flex-wrap: wrap;
	}

	.score {
		display: flex;
		margin: auto;
		gap: 0.5rem;
		font-size: 1.5rem;

		.points {
			color: #ecc84d;
		}
	}

	.card {
		width: 250px;
		text-align: center;
		display: flex;
		flex-direction: column;
		background-color: #3d3d60;
		color: var(--foreground-color);
		padding: 1rem;
		height: 250px;
		justify-content: space-around;

		.input {
			font-size: 7rem;
			line-height: 1.5;
			padding: 0;
			background-color: transparent;
			border: none;
			outline: none;
			text-align: inherit;
		}

		.description {
			text-transform: uppercase;
		}

		&.input {
			background-color: #fac720;

			&,
			.input {
				color: #252740;
			}
		}
	}
}
