@import url('https://cdn.jsdelivr.net/gh/nano-grid/nano-grid@v5.3.1/dist/nanogrid_styles.css');

@import url('./variables.css');
@import url('./navbar.css');
@import url('./footer.css');
@import url('./table.css');
@import url('./game.css');

@import url('./iconos.css');
@import url('../fonts/Icomoon/Icomoon.css');

@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;600&display=swap');

* {
	box-sizing: border-box;
	font-family: 'Inter Tight', sans-serif;
}

html,
body {
	padding: 0;
	margin: 0;
	color: var(--foreground-color);
	background-color: var(--background-color);
	overflow-x: hidden;
}

body {
	&.light {
		color-scheme: light;
	}

	&.dark {
		color-scheme: dark;
	}
}

.sr-only {
	display: none;
}

.hidden,
[data-hidden='true'] {
	display: none !important;
}

p,
h2,
h3,
h1 {
	margin: 0;
}

img {
	max-width: 100%;
}

nn-btn a,
nav a {
	text-decoration: none;
}

a {
	text-decoration: underline dotted #ecf6ff;

	&.disabled {
		&,
		&.btn {
			color: #333 !important;
			pointer-events: none;
		}

		&.btn {
			--color: #555;
		}
	}
}

h1 {
	font-size: 4rem;
	text-align: center;
	margin: 0;
	color: var(--accent-color);
}

h2 {
	font-size: 3rem;
	text-align: center;
	margin: 0;
	color: var(--accent-color);
}

h3 {
	font-size: 1.5rem;
	text-align: center;
	margin: 0;
	color: var(--accent-color);
}

main {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	min-height: calc(100vh - 248px);
	justify-content: center;
}

nn-dropdown {
	--nn-dropdown-btn-color: var(--header-color);
	--nn-dropdown-btn-bgcolor: var(--background-color);

	.dropdown-trigger {
		background-color: transparent;
	}

	.dropdown-content {
		--nn-dropdown-bgcolor: light-dark(#fcfcfc, #252740);
		box-shadow: 0px 0px 4px #5757572e;
	}
}

.flex-column {
	--gap: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: var(--gap);
	padding: 1rem;
	list-style: none;
}

.flex-row {
	--gap: 0.5rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: var(--gap);
	padding: 0;
	list-style: none;
	justify-content: center;
	align-items: center;
}

.search-bar {
	--nn-input-color: light-dark(#eee, #3d3d60);
	--nn-input-text-color: light-dark(#333, #eee);

	nn-btn {
		button,
		a {
			--nn-btn-color: var(--nn-input-color);
			--nn-btn-text-color: var(--nn-input-text-color);
		}
	}

	input {
		all: unset;
		border: 0;
		width: max(100%, 35px);
		min-height: 35px;
		font-size: 9pt;
		text-align: center;
		cursor: text;
		letter-spacing: 1pt;
		text-transform: uppercase;
		transition: background-color 0.2s ease, box-shadow 0.2s ease,
			border 0.2s ease, color 0.2s ease;
		border-radius: 0;
		--nn-input-color-active: color-mix(
			in srgb,
			black 15%,
			var(--nn-input-color)
		);
		--nn-input-color-active-shadow: color-mix(
			in srgb,
			black 30%,
			var(--nn-input-color)
		);
		color: var(--nn-input-text-color);
		background-color: var(--nn-input-color);
		box-shadow: 0 3px 0 var(--nn-input-color-active);
	}
}

.salishan-home {
	section.intro {
		nn-caja {
			display: flex;
			gap: 2rem;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			p {
				max-width: 790px;
				text-align: center;
			}
		}

		ul {
			max-width: 790px;
			list-style: none;
			padding: 0;
			display: flex;
			flex-direction: column;
			gap: 1rem;
			margin: 0;
		}
	}
}

[data-tooltip]:after {
	text-transform: uppercase;
}

salishan-keyboard {
	display: flex;
	gap: 0.5rem;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;

	.key {
		width: 75px;
		height: 75px;
		display: flex;
		font-size: 1.25rem;
		flex-direction: column-reverse;
		flex-wrap: wrap;
		background-color: #49946e;
		box-shadow: #36745f 4px 4px 1px;
		transform: translate(0, 0);
		border-radius: 5px;
		transition: transform 100ms ease-in-out, box-shadow 100ms ease-in-out;

		&.top {
			background-color: #3f70b9;
			box-shadow: #2a486b 4px 4px 1px;
		}

		&.bottom {
			background-color: #c06262;
			box-shadow: #6b2a2a 4px 4px 1px;
		}

		&.special {
			background-color: #a040b8;
			box-shadow: #532a6b 4px 4px 1px;
		}

		&.blank {
			background-color: #3d3d3d;
			box-shadow: #1b1b1b 4px 4px 1px;
		}

		&.wide-2 {
			width: 158px;
		}

		&.wide-3 {
			width: 240px;
		}

		&.special,
		&.blank {
			font-size: 1rem;
			align-items: start;
			.char {
				flex-basis: 100%;
				width: 100%;
				padding-inline: 0.25rem;
			}
		}

		&.spacebar {
			width: 822px;
		}

		&:hover {
			z-index: 1;
			box-shadow: #313131 1px 1px 1px;
			transform: translate(3px, 3px);
		}

		.char {
			width: 50%;
			height: 50%;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			color: #d4e7ff;

			&:nth-child(3),
			&:nth-child(4) {
				color: #252740;
			}
		}
	}
}

@media (max-width: 1350px) {
	salishan-keyboard {
		.key {
			&.empty-key,
			&.wide-2,
			&.wide-3 {
				display: none;
			}
		}
	}
}

salishan-characters {
	section {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	article {
		width: 100%;
		border: 1px solid var(--border-color);
		border-radius: 10px;
		padding: 1rem;
		background-color: #253b40;
		transition: background-color ease-in-out 200ms;

		&:hover {
			background-color: #253b4096;
		}

		.label {
			font-size: 3rem;
			text-align: center;
		}

		.description {
			text-transform: uppercase;
		}

		nn-fila {
			justify-content: center;
			align-items: center;
		}
	}
}
