{
  "tabWidth": 2,
  "useTabs": true,
  "trailingComma": "es5",
  "semi": false,
  "singleQuote": true,
  "singleAttributePerLine": true,
  "arrowParens": "avoid",
  "proseWrap": "always",
  "bracketSpacing": true,
  "html.format.wrapAttributes": "force-aligned"
}
